<div id="{uniqueID}_icon" class="icon noselect">
	<img src="assets/button.svg" alt="Text" data-text="Text" width="50" height="50">
	<p id="{uniqueID}_buttontext" class="icon-text">IDLE</p>
</div>

<!-- Dropdown Menu -->
<div id="{uniqueID}_dropdown" class="dropdown-menu" style="display: none">
	<div class="dropdown-inner">
		<div class="dropdown-item" id="{uniqueID}_start">
			<img src="assets/manager/dropdown_start.svg" class="dropdown-icon"> Start
		</div>
		<div class="dropdown-item" id="{uniqueID}_continue">
			<img src="assets/manager/dropdown_start.svg" class="dropdown-icon"> Continue
		</div>
		<div class="dropdown-item" id="{uniqueID}_stop">
			<img src="assets/manager/dropdown_stop.svg" class="dropdown-icon"> Stop
		</div>
		<div class="dropdown-item" id="{uniqueID}_follow_me">
			<img src="assets/manager/dropdown_state.svg" class="dropdown-icon"> Follow Me
		</div>
		<div class="dropdown-item" id="{uniqueID}_mule">
			<img src="assets/manager/dropdown_state.svg" class="dropdown-icon"> Mule
		</div>
		<div class="dropdown-item" id="{uniqueID}_exit">
			<img src="assets/manager/dropdown_exit.svg" class="dropdown-icon"> Exit
		</div>
		<div class="dropdown-item" id="{uniqueID}_mission_selection" style="display: none;">
			<img src="assets/manager/dropdown_setup.svg" class="dropdown-icon"> Mission Selector
		</div>
		<div class="dropdown-item" id="{uniqueID}_config">
			<img src="assets/manager/dropdown_setup.svg" class="dropdown-icon"> Setup
		</div>
	</div>
</div>