<canvas id="{uniqueID}_canvas" style="pointer-events: none; z-index: 2;"></canvas>

<!-- Mission Select Window (hidden by default) -->
<div id="{uniqueID}_mission_window" class="window noselect" style="display:none;">
	<h3>Mission Selector</h3>

	<button id="{uniqueID}_mission_window_close" class="window_close" title="Close">&#10005;</button>

	<div id="{uniqueID}_mission_drag_handle" class="window_drag_handle noselect"></div>

	<p id="{uniqueID}_mission_status" class="status">Status: Ok.</p>

	<hr class="dark_hr" />

	<div style="display: flex; gap: 10px; align-items: center; margin-bottom: 10px;">
		<label for="{uniqueID}_mission_node_name">Node Name:</label>
		<input id="{uniqueID}_mission_node_name" type="text" value="mission_recorder">
	</div>

	<div style="display: flex; gap: 10px; align-items: center; margin-bottom: 10px;">
		<label for="{uniqueID}_mission_select">Mission:</label>
		<select id="{uniqueID}_mission_select" style="flex: 1;">
			<option value="">-- Select Mission --</option>
		</select>
		<button id="{uniqueID}_delete_mission" style="background-color: rgb(104, 78, 31);">Delete</button>
	</div>

	<hr class="dark_hr" />

	<div style="display: flex; gap: 10px; align-items: flex-end;">
		<div styple="display: flex, flex-direction: column;">

			<div style="display: flex; flex-direction: row; align-items: center; gap: 6px; flex: 1;">
				<label for="{uniqueID}_mission_name">Mission Name:</label>
				<input type="text" id="{uniqueID}_mission_name" placeholder="Mission name..." style="flex: 1;">
			</div>
			<div style="display: flex; flex-direction: row; align-items: center; gap: 6px; flex: 1;">
				<label for="{uniqueID}_mission_type">Mission Type:</label>
				<select id="{uniqueID}_mission_type" style="flex: 1;">
					<option value="cartesian">Cartesian</option>
					<option value="gps">GPS</option>
				</select>
			</div>
		</div>
			<button id="{uniqueID}_update_mission"
			style="background-color: rgb(31, 78, 52); height: 56px; align-self: stretch;">Update Mission</button>
	</div>

	<hr class="dark_hr" />

	<button id="{uniqueID}_delete" style="background-color: rgb(104, 78, 31);">Clear path</button>

	<div class="spacer"></div>
</div>